@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skoda-dynamic-blue: #013c7b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-skoda-dynamic-blue: var(--skoda-dynamic-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
