@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skoda-dynamic-blue: #0d5bae;
  --blue-hover: #044182;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-skoda-dynamic-blue: var(--skoda-dynamic-blue);
  --color-blue-hover: var(--blue-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
